.App {
  font-family: sans-serif;
  text-align: center;
}
.navBar {
  background-color: white;
}
a:hover {
  text-decoration: none;
}
.nav-link:hover {
  background: #fbce07;
}
 .btn-primary {
  background: #fbce07 !important;
  color: black !important;
  border: none !important;
  text-decoration: none !important; 
  font-size: 12px !important;
}

.tableHeader{
  border-bottom: 5px solid #fbce07;
}